@keyframes flameBackground {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.flame-bg {
  background: linear-gradient(    135deg,
    #5C2E00, 
    #A35C00, 
    #7E3F00, 
    #C77E00,  
    #5C2E00);
  background-size: 400% 400%;
  animation: flameBackground 12s ease-in-out infinite;
}
